<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.epi.dao.UserMapper">
    <select id="checkLogin" parameterType="User" resultType="User">
        select * from user where userName=#{userName} and password=#{password}
    </select>
    <select id="findUser" parameterType="User" resultType="User">
        select u.userId,r.roleName,u.sex,u.age,u.email,u.tel,u.entryDate,u.leaveDate from user u inner join role r on u.roleId=r.roleId where u.userName=#{userName}
    </select>

</mapper>